<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb </p>
<!----------------------------------------------------------------------->
<div class="container">
  <div class="row">
    <div class="col-3"><!--部分レンプレート化したジャンル一覧-->
      <%= render "public/shared/genre" %>
    </div>
    <div class="col-6">
      <div class="row"><!--最新弾の画像等の表示、クリックして関連ページへ　カーソルが乗っている間は白くなる-->
        
      </div>
      <div class="row"><!--新着商品の表示-->
        <h3>新着商品</h3>
        <div class="row item-card-content">
        <% @items.each do |item| %>
          <div class="col-md-3">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_image(100, 100) %>
            <% end %><br>
            <%= item.name %><br>
            <%= item.price.to_s(:delimited, delimiter: ',') %><br>
          </div>
        <% end %>
      </div>
      </div>
    </div>
    <div class="col-3"><!--部分レンプレート化したカート内アイテム一覧-->
      <%= render "public/shared/cart_item" %>
    </div>
  </div>
</div>